{% extends 'base.html' %}

{% block title %} {{ user.full_name }}{% endblock %}

{% block content %}

<h1>{{user.full_name}}</h1>
<form method="POST">
    <p class='image'><img src="{{ user.image_url }}" alt=""> </p>

    <form>
        <button class="btn btn-primary btn-sm"
                formaction="/users/{{ user.id }}/edit"
                formmethod="GET">Edit User
        </button>
        <button class="btn btn-danger btn-sm"
                formaction="/users/{{ user.id }}/delete"
                formmethod="POST">Delete User
        </button>
      </form>

      <h2>Posts</h2>
        <ul>
         {% for post in user.posts %}
                <li>
      <a href="/posts/{{ post.id }}"> {{ post.title }}</a>
        
                </li>
         {% endfor %}
        </ul>
        <a href="/users/{{ user.id }}/posts/new" class="btn btn-primary">Add Post</a>
      </p>

{% endblock%}